on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

env:
  MIRROR_URL: git@github.com:EpitechPGE3-2025/G-PRO-500-NCY-5-1-professionalwork-17.git

jobs:
  push_to_mirror:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository != 'EpitechPGE3-2025/G-PRO-500-NCY-5-1-professionalwork-17'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.SSH_PRIVATE_KEY }}